.sales_home{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: relative;
}

.sales_body{
  width: auto;
  min-width: 1200px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.sales_body_table{
  width: 94%;
  height: auto;
  margin-top: 10px;
  margin-left: 3%;
  border-collapse: collapse; 
}
.sales_body_table tr th{
  height: 45px;
  background-color: #F5F7F8;
  font-size: 14px;
  font-weight: 500;
  border: 1px #a4a4a4 solid;
}
.sales_body_table tr:nth-child(even){
  background-color: #F8F9Fa;
}
.sales_body_table tr td{
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  border: 1px #a4a4a4 solid;
}
.sales_body_table_tbody_num{
  width: 60px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px #d4d4d4 solid;
}
.sales_body_btn{
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: 1px #e5e5e5 solid;
  background-color: #0C64A8;
  color: #ffffff;
  user-select: none;
  position: relative; 
  left: calc(95% - 80px);
  margin-bottom: 20px;
}
.sales_body_btn:hover{
  background-color: #0E72BE;
}
.sales_body_btn:active{
  background-color: #0C64A8;
}